.clear:after{
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.stress{
    color:#22c5fb;
}
.index_head{
    border-bottom: 4px solid #2096d4;
    position: relative;
}
.head_tel_wrap{
    background: #f7f7f7;
}
.head_tel{
    height: 40px;
    line-height: 40px;
    width: 1200px;
    margin: auto;
}
.head_tel_left{
    float: left;
    font-size: 14px;
    color: #333333;
}
.head_tel_right{
    float: right;
    font-size: 14px;
    color: #333333;
}
.tel_border{
    margin: 0 10px;
    vertical-align: middle;
}
.head_tel_right span{
    color: #007dbf;
    font-size: 14px;
}

/*��������*/
.dh_wp{
    width: 1200px;
    margin: auto;
}
/*logo*/
.logo{
    float: left;
    height: 125px;
    line-height: 125px;
}
.logo img{
    vertical-align: middle;
}
.dh_wp_left{
    float: right;
}
/*����*/
.index_search{
    margin-top: 25px;
    height: 25px;
    position: relative;
}
.index_search input{
    float: right;
    width: 235px;
    height: 25px;
    line-height: 25px;
    border-radius: 17.5px;
    text-indent: 10px;
    border: none;
    outline: none;
    background: #f4f4f4;
}
.index_search label{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    width: 15px;
    height: 15px;
    background: url("../images/search_icon.png");
}
/*����*/
.dh_op>li{
    float: left;
    line-height: 75px;
    margin-left: 55px;
}
.dh_op>li:hover .dh_wp2{
    display: block;
}
.dh_op li>a{
    display: block;
    font-size: 14px;
    color: #666;
}
.dh_op .select>a{
    position: relative;
    color: #2096d4;
}
.dh_op .select>a:after{
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 6px;
    background: url("../images/nav_tip.png");
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.dh_op li:hover>a{
    color: #2096d4;
}
/*�ε���*/
.dh_wp2{
    display: none;
    top: 167px;
    right: 0;
    position: absolute;
    z-index: 1111;
    width: 100%;
    background: #003a6b;
    border-top: 5px solid #2096d4;
}
.dh_op2{
    width: 1200px;
    margin: auto;
}
.dh_op2 li{
    float: left;
    height: 45px;
    line-height: 45px;
    width: 20%;
    text-align: center;
    position: relative;
}
.dh_op2 .last:after{
    display: none;
}
.dh_op2 li:after{
    content: '';
    display: block;
    height: 20px;
    width: 1px;
    background: #c7c7c7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.dh_op2 li:hover{
    background: #2096d4;
}
.dh_wp2 .dh_op2 li a{
    font-size: 14px;
    color: white;
}
/*�����*/
.slide_bar{
    position: fixed;
    width: 58px;
    height: 290px;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 9999999;
}
.slide_bar ul{
    width: 58px;
    height: 290px;
}
.slide_bar li{
    position: relative;
    right: 0;
    height: 58px;
    text-align: center;
    background: white;
}
.slide_bar li a{
    right: 0;
    width: 56px;
    height: 56px;
    display: block;
    font-size: 12px;
    color: #333;
    position: absolute;
    border: 1px solid #e0e0e0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;
    background: white;
}
.slide_bar li span{
    display: block;
    height: 38px;
}
.tel_num{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: none;
    background: white;
    line-height: 56px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}
.slide_bar .li_4:hover a{
    width: 140px;
    border: 1px solid #299edb;
}
.slide_bar .li_4:hover .tel_p{
    display: none;
}
.slide_bar .li_4:hover .tel_num{
    display: block;
    background: #299edb;
}
.slide_bar .li_1 a,.slide_bar .li_5 a{
    border: 1px solid #299edb;
    background: #299edb;
}
.slide_bar .li_1 p,.slide_bar .li_5 p{
    color: white;;
}
.slide_bar .li_1 span{
    background: url("../images/icon1.png") no-repeat center center ;
}
.slide_bar .li_2 span{

    background: url("../images/icon2.png") no-repeat center center;
}
.slide_bar .li_3 span{
    background: url("../images/icon3.png") no-repeat center center;
}
.slide_bar .li_4 span{
    background: url("../images/icon4.png") no-repeat center center;
}
.slide_bar .li_5 span{
    background: url("../images/icon5.png") no-repeat center center;
}
/*�Ų�*/
.foot_info{
    background: #f7f7f7;
}
.foot_info>ul{
    width: 1200px;
    height: 275px;
    margin: auto;
    padding-top: 25px;
}
.foot_info>ul>li{
    float: left;
    width: 350px;
    height: 225px;
    background: white;
    padding: 0 20px;
}
.foot_li2{
    margin: 0 15px;
}
.foot_info h6{
    overflow: hidden;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-weight: normal;
}
.foot_info h6:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #e0e0e0;
    margin-top: -31px;
}
.foot_info span{
    font-size: 18px;
    padding:0 10px;
    background: white;
}
.foot_info div{
    width: 128px;
    text-align: center;
    font-size: 14px;
}
.foot_info .er_left{
    /* display: none; */
    float:left;
    margin-left: 23px;
}
.foot_info .er_right{
    float:right;
    margin-right: 112px;
}
.foot_info p{
    line-height: 26px;
}
.foot_info img{
    border: 1px solid #e0e0e0;
}
.foot_li2 li,.foot_li3 li{
    font-size: 14px;
    line-height: 34px;
}
/*��վ��Ϣ*/
.foot_cpr{
    min-width: 1200px;
    height: 70px;
    background: #2096d4;
    position: relative;
}
.foot_Top{
    cursor: pointer;
    position: absolute;
    width: 49px;
    top: -24px;
    left: 0;
    right: 0;
    margin: auto;
}
.foot_cpr_wrap{
    line-height: 65px;
    margin: auto;
    width: 1200px;
}
.foot_cpr_left{
    float: left;
    font-size: 14px;
}
.foot_cpr_left li{
    float: left;
}
.foot_cpr_left li a{
    color: white;
    font-size: 14px;
    padding: 0 20px;
    border-right: 1px solid white;
}
.foot_cpr_left .last a{
    border-right: none;
}
.foot_cpr_right{
    float: right;
    font-size: 12px;
    color: white;
}
.lz_info form input{
    font-size: 24px;
    text-indent: 1.5em;
}
